In [1]:
from collect import Collector

In [4]:
files = ["/home/muhammad/SGLI/ocsmart_processed/test.csv", "/home/muhammad/SGLI/ocsmart_processed/train.csv"]
columns = ["MATCHUP_VALID", 'lat', 'lon', 'Rrs_380', 'Rrs_412', 'Rrs_443', 'Rrs_490', 'Rrs_530', 'Rrs_565', 'Rrs_672', 'AOD_380', 'AOD_412', 'AOD_443', 'AOD_490', 'AOD_530', 'AOD_565', 'AOD_672', 'adg_380', 'adg_412', 'adg_443', 'adg_490', 'adg_530', 'adg_565', 'adg_672', 'ap_380', 'ap_412', 'ap_443', 'ap_490', 'ap_530', 'ap_565', 'ap_672', 'aph_380', 'aph_412', 'aph_443', 'aph_490', 'aph_530', 'aph_565', 'aph_672', 'bbp_380', 'bbp_412', 'bbp_443', 'bbp_490', 'bbp_530', 'bbp_565', 'bbp_672', 'bp_380', 'bp_412', 'bp_443', 'bp_490', 'bp_530', 'bp_565', 'bp_672', 'Chla_oci', 'Chla_yoc', 'TSM_yoc', 'l2_flags', 'in_situ_lat', 'in_situ_lon', 'Global_ID', 'Date', 'l1b_gportal_id']

important = ['MATCHUP_VALID', 'lat', 'lon', 'l2_flags', 'in_situ_lat', 'in_situ_lon', 'Global_ID', 'Date','Rrs_412', 'Rrs_443', 'Rrs_490', 'Rrs_530', 'Rrs_565', 'Rrs_672', "Chla_oci", "Chla_yoc"]
outfile = "/home/muhammad/SGLI/ocsmart_processed/matchup.csv"

In [2]:
columns = ['MATCHUP_VALID','lat', 'lon', 'Kd_490', 'Rrs_380', 'Rrs_412', 'Rrs_443', 'Rrs_490', 'Rrs_529', 'Rrs_566', 'Rrs_672', 'a_380_qaa', 'a_412_qaa', 'a_443_qaa', 'a_490_qaa', 'a_566_qaa', 'a_672_qaa', 'adg_380_qaa', 'adg_412_qaa', 'adg_443_qaa', 'adg_490_qaa', 'adg_529_qaa', 'adg_566_qaa', 'adg_672_qaa', 'angstrom', 'aot_867', 'aph_380_qaa', 'aph_412_qaa', 'aph_443_qaa', 'aph_490_qaa', 'aph_529_qaa', 'aph_566_qaa', 'aph_672_qaa', 'chlor_a', 'l2_flags', 'in_situ_lat', 'in_situ_lon', 'Global_ID', 'Date', 'l1b_gportal_id']
files = ["/home/muhammad/SGLI/seadas_processed/test.csv", "/home/muhammad/SGLI/seadas_processed/train.csv"]
important = ['MATCHUP_VALID','lat', 'lon', 'l2_flags', 'in_situ_lat', 'in_situ_lon', 'Global_ID', 'Date','Rrs_412', 'Rrs_443', 'Rrs_490', 'Rrs_529', 'Rrs_566', 'Rrs_672', 'chlor_a']
outfile = "/home/muhammad/SGLI/seadas_processed/matchup.csv"

In [6]:
files = ["/home/muhammad/SGLI/l2_std/test.csv", "/home/muhammad/SGLI/l2_std/train.csv"]
columns = ["Global_ID", "lat", "lon", "Date", "l1b_gportal_id", "l2_rrs_gportal_id", "l2_prod_gportal_id", "Rrs_380", "Rrs_412", "Rrs_443", "Rrs_490", "Rrs_530", "Rrs_565", "Rrs_670", "Rrs_765", "Rrs_flags", "prod_flags", "Chla", "TSM", "ag_443", "MATCHUP_VALID"]
important = ["MATCHUP_VALID", "Global_ID", "lat", "lon", "Date", "Rrs_412", "Rrs_443", "Rrs_490", "Rrs_530", "Rrs_565", "Rrs_670", "Rrs_flags", "prod_flags", "Chla"]
outfile = "/home/muhammad/SGLI/l2_std/matchup.csv"

In [7]:
c = Collector(files, columns, important, outfile)
df = c.start()

/home/muhammad/process_sgli/collect.py:27: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df =pd.concat([df, f_df], axis=0)

In [4]:
df

,MATCHUP_VALID,lat,lon,l2_flags,in_situ_lat,in_situ_lon,Global_ID,Date,Rrs_412,Rrs_443,Rrs_490,Rrs_530,Rrs_565,Rrs_672,Chla_oci,Chla_yoc
0,False,46.500343,6.661405,256,46.500150,6.660780,5226,2019-06-13T12:59,0.005543,0.008014,0.011336,0.009968,0.009583,0.001372,1.247673,0.556054
1,True,30.730070,114.283890,0,30.730801,114.283493,8573,2021-04-29T07:40,0.002432,0.003870,0.006961,0.010286,0.012426,0.002525,7.629409,2.501887
2,True,30.546324,114.385925,0,30.546469,114.385590,8568,2021-04-29T02:00,0.003726,0.005303,0.008316,0.010565,0.011233,0.002330,3.480672,1.801404
3,True,46.500603,6.661223,0,46.500150,6.660780,5389,2020-05-29T12:59,0.010121,0.012129,0.016445,0.017239,0.014083,0.002179,1.278407,1.078431
4,True,41.703777,-83.256560,0,41.703600,-83.255400,8687,2019-06-03T15:43,0.004689,0.007450,0.012753,0.017889,0.021992,0.011532,6.866491,2.283014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,True,46.499820,6.660415,0,46.500150,6.660780,5317,2020-04-04T09:59,0.007451,0.008017,0.009331,0.008240,0.006638,0.001047,0.919549,0.899726
343,True,-33.076584,-57.437424,0,-33.076484,-57.436548,2244,2020-02-19T15:15,0.001001,0.001539,0.003351,0.006772,0.007997,0.001319,20.467625,5.613437
344,False,48.343220,-4.681359,256,48.344234,-4.680833,3848,2018-04-30T10:33,0.003514,0.004159,0.005635,0.005681,0.004976,0.000711,1.354822,1.137696
345,True,30.544693,114.426820,0,30.544135,114.427295,8667,2021-11-11T02:31,0.004219,0.005056,0.007229,0.010926,0.012964,0.004502,7.741402,5.225252
346,False,42.810577,-70.827620,0,42.809510,-70.827260,2349,2018-07-19T15:58,0.001301,0.002092,0.003995,0.006008,0.006763,0.000999,6.498764,2.231021